/* ---------- PAGE LAYOUT ---------- */

body{
    background-color: gray;
}

/*IMAGE*/

.container{
    position: relative;
    background-image: url("http://media.meltystyle.fr/article-3297258-ajust_930-f4990049/jaden-smith-pour-l-edition-ss16-de-gq-style.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 770px;
    width: 610px;
    display: block;
    margin: 0 auto;
    z-index:-2;
    overflow: hidden;
}

/*UPPER*/

h1{
    border: 1px solid yellow;
    position: absolute;
    top: -80px;
    width: 100%;
}


.pre{
    text-transform: uppercase;
    color: #241c54;
    font-size: 12px;
    z-index: 20;
    position: absolute;
    left: 83px;
    top: 130px;
}

.logo{
    display: block;
    z-index: -1;
    font-size: 220px;
    color: white;
    -webkit-text-stroke: 2px #241c54;
    letter-spacing: -30px;
    position: absolute;
    top:6px;
    left: -13px;
}

.title{
    display: block;
    font-size: 120px;
    position: absolute;
    left: 48%;
    top:90px;
}

.subtitle{
    display: block;
    font-style: italic;
    font-size: 17px;
    position: absolute;
    left: 48%;
    top: 15px;
}

h1 .title, h2.subtitle {
    font-family: 'Sumana', serif;
    color: #241c54;
    text-align: left;
    -webkit-text-stroke: 0.5px white;
}

h1 .logo, h1 .pre  {
    font-family: 'Raleway', sans-serif;
}

/*LOWER*/

.lower{
    font-family: 'Rozha One', serif;
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 81%;    
    margin-left: 30px;
}

/*UP RIGHT*/

.up-right{
    color: white;
    font-size: 50px;
    position: absolute;
    right: 45px;
    top: -45px;
    width: 200px;
}


/*UP LEFT*/

.up-left{
    color: #241c54;
}

.up-left h2{
    font-size: 25px;
    display: inline-block;
    position: relative;
    top: -25px;
}

.up-left h2 span{
    font-size:60px;
    position: relative;
    top: -12px;
}
.gq{
    font-family: 'Raleway', sans-serif;
    font-size: 8px;
    font-weight: bolder;
}

.uk{
    font-size: 10px;
    font-weight: bolder;
    position: relative;
    top: -80px;
}

.gq, .uk{
    text-transform: uppercase;
}

.up-left .block-text.black{
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: flex-start;
}

.up-left .block-text.black span{
    background-color: #241c54;
    color: white;
    font-size: 25px;
    margin: 1px 0;
    padding: 1px 5px 0;
}

.up-left h4{
    position: absolute;
    top: 110px;
    left: 0;
}

#page{
    font-size: 12px;
}
/*LOW-LEFT*/

.low-left{
    position: absolute;
    bottom: 15px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.low-left span{
    padding: 1px 5px 0;
    margin: 1px 0;
}

.block-text.white.low-left span{
    color: #241c54;
    font-size: 25px;
    background-color:white;
}

/*LOW RIGHT*/

.low-right{
    display: flex;
    flex-flow: column nowrap;
    position: absolute;
    justify-content: flex-start;
    align-items: flex-start;
    right: 0;
    bottom: 0;
}


.low-right .block-text.white span{
    color: #241c54;
    background-color:white;
    font-size: 25px;
    padding: 1px 5px 0;
    margin: 1px 0;
}

.low-right h4.block-text.black span{
    background-color: #241c54;
    color: white;
    font-size: 25px;
    padding: 1px 5px 0;
    margin: 1px 0;
}

.low-right h4{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}


.low-right h4.block-text:nth-of-type(1) span:first-of-type {
    transform: rotate(-1deg);
    position:relative;
    top: 35px;
    left: 35px;
 }
 
 .low-right h4.block-text:nth-of-type(1) span:last-of-type {
    transform: rotate(5deg);
    position: relative;
    top: 45px;
    left: 45px;
 }
 
 .low-right h4.block-text:nth-of-type(2) {
    transform: rotate(-15deg);
    position: relative;
    left: -100px;
    top: 30px;
 }
 
 .low-right h4.block-text:nth-of-type(3) {
    transform: rotate(5deg);
    position: relative;
    left: 90px;
    top: -20px;
 }
 
 .low-right h4.block-text:nth-of-type(4) {
    transform: rotate(-5deg);
    position: relative;
    left: -90px;
    top: -20px
 }
 
